[submodule "TOKI-Course"]
	path = TOKI-Course
	url = https://github.com/stdfreesince03/TLX.Toki-Winata.T
[submodule "TOKI-PemrogramanKompetitifDasar"]
	path = TOKI-PemrogramanKompetitifDasar
	url = https://github.com/stdfreesince03/TLX.Toki-Winata.T
